@import "./Navbar.scss";
@import "./megaMenu-card.scss";
@import "./reset.scss";
@import "./BannerCarousel.scss";
@import "./Mobilecategory.scss";


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #eee !important;
}

@media only screen and (max-width: 768px) {
    .humburgermenu {
        display: block !important;
    }

    .hide {
        display: none;
    }

    .show-mobilemenu {
        height: 70vh;
        background: white;

        z-index: 9999;
        right: 0;
        top: 19px;
        
        padding: 1rem 2rem;
    }
}